@model ApplicationCore.Models.Response.UserProfileResponseModel

<h2>
    View Profile
</h2>

<div>
    <ul>
        <li>
            <span>First Name: @Model.FirstName</span>
        </li>
        <li>
            <span>Last Name: @Model.LastName</span>
        </li>

        <li>
            <span>Email: @Model.Email</span>
        </li>
        <li>
            <span>Phone Number: @Model.PhoneNumber</span>
        </li>
        <li>
            <span>Date Of Birth: @Model.DateOfBirth</span>
        </li>



    </ul>
</div>